@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Heebo&family=Inter&family=Montserrat&family=Noto+Sans+Meroitic&family=Poppins:wght@400;500&family=Roboto&family=Rubik:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    background-color: 	#222427;
}

body {
    overflow-x: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nav-container {
    padding-top: 1%;
    padding-left: 15%;
    padding-right: 15%;
}

nav {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #2C2F33;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    border-radius: 3vh;
}
.bot {
    margin-bottom: 2%;
}

.left-content {
    display: flex;
    align-items: center;
}

.horizontal-list {
    padding-left: 10%;
    list-style: none;
    display: flex; /* Make the list items inline */
    gap: 10px; /* Add some spacing between list items */
}

.horizontal-list li {
    transition: ease-in-out 0.3s;
    font-family: 'Montserrat', sans-serif;
    padding: 5px 10px; /* Add padding for styling */
    color: #fff; /* Text color */
    border-radius: 5px; /* Rounded corners for each list item */
}
.pricing {
    background-color: #1d1f24; /* Add background color for each list item */
}

.status {
    background-color: #282b30; /* Add background color for each list item */
}
.support {
    background-color: #282b30; /* Add background color for each list item */
}
li:hover {
    background-color: #36393e;
    transition: ease-in-out 0.3s;
}

.right-content {
    /* You can add styling for the right content if needed */
}

.button {
    background-color: #ffffff00;
    color: #fff;
    width: 8.2em;
    height: 2.9em;
    border: #5464f4 0.2em solid;
    border-radius: 11px;
    text-align: right;
    transition: all 0.6s ease;
    background-color: #5464f4;
  }
  
  .button:hover {
    background-color: #3654ff13;
    cursor: pointer;
    transform: translateY(-2px);
  }
  
  .button svg {
    width: 1.6em;
    margin: -0.2em 0.8em 1em;
    position: absolute;
    display: flex;
    transition: all 0.6s ease;
  }
  

  
  .text {
    font-family: 'Rubik', sans-serif;
    margin-right: 10%;
  }

  .flexbox-container {
    padding-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexbox-item {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2vh;
    margin: 10px;
    background-color: #2C2F33;
    transition: ease-in-out 0.4s;
}
.flexbox-item:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transform: translateY(-5px);
    transition: ease-in-out 0.4s;
}

.flexbox-item-1 {
    width: 25%;
    min-height: 600px;
    margin-right: 2%;
}

h2 {
    color: rgb(238, 236, 236);
    font-family: 'Poppins',sans-serif;
    font-size:58px ;
    padding-left:7%;
    text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h3 {
    padding-bottom: 2%;
    color: rgba(238, 236, 236, 0.733);
    font-family: 'Poppins',sans-serif;
    font-size:18px ;
    padding-left: 7%;
    text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.flexbox-item-2 {
    margin-right: 2%;
    width: 27%;
    min-height: 650px;
}
.flexbox-item-3 {
    width: 25%;
    min-height: 600px;
}


.features {
    border-radius: 2vh;
    background-color: #222427;
    width: 80%;
    padding-right: 7%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-top: 3%;
    min-height: 410px;
    margin-left: 5%;
}

.features p {
    color: rgba(255, 255, 255, 0.445);
    font-family: 'Rubik',sans-serif;
    
}
.icon-text-container {
    display: flex;
    align-items: center; /* Align items vertically in the container */
    gap: 10px; /* Adjust the gap between the SVG and text as needed */
}

.cart {
    font-family: 'Poppins',sans-serif;
    margin-top: 30%;
    margin-left: 77%;
    background-color: #36363600;
    color: #fff;
    width: 7.2em;
    height: 2.9em;
    border: #ffffff 0.2em solid;
    border-radius: 4px;
    text-align: center;
    transition: all 0.4s ease;

  }
  
  .cart:hover {
    background-color: #ffffffec;
    color:#1d1f24;
    cursor: pointer;
    transform: translateY(-2px);
  }